/*External Style sheet for index.html*/

 @font-face {
    font-family: Playfair Display;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
  }

  body {
    /*font-family: Playfair Display;*/
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    background-color: hsl(320, 18%, 86%);
    text-align: center;
    border: 3px ;
  }

  .ems li {
    font-size: 1.2em;
  }

  footer {
    opacity: 0.6;
    text-align: center;
    position: static;
    font-family: "Playfair Display";
    width: 150ex;
  }

  #Form {
    background-color: rgb(192, 192, 192);
  }

  .Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
   .Navigation li {
    float: left;
  }
  
  .Navigation li a {
    display: block;
    padding: 6pt;
    background-color: rgb(156, 156, 150);
    text-align:justify;
  }

  .dlt{
    word-spacing: 30px;
  }

  #VideoAudio {
    text-align: center;
  }

  #FormHeader {
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100vw;
  }


  form :active {
    color: green;
    background: rgb(90, 199, 127);

  }
  
  form button {
    background: grey;
  }

  h1:hover {
    background-color: yellow;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }
  .date {
    flex: 1 1 auto;
  }

  .location {
    flex: 1 1 auto;
  }

  .time {
    flex: 1 1 auto;
  }

 /*This is for the short hand boxes I have created*/
 .Box{
    border: 1.2px solid rgb(84, 42, 126);
    background-color: #9c9c95;
    padding: 10px;
    margin: 10px;
    width: 170px;
    max-width: 2in;
    min-width: none;
    height: 20px;
    position: relative;
    font-size:1.3rem;
 }

 /* Mobile View */
@media (max-width: 770px)  {
    .col-xs-12 {
      width: 99%;
      float: left;
    }
  }
  
  /* Tablet View */
  @media (min-width: 770px) and (max-width: 980px) {
    .col-md-6 {
      width: 52%;
      float: left;
    }
    
  }
  

  