/*External Style sheet for index.html*/


 /*Custom Font Added from online library.*/
 @font-face {
    font-family: Playfair Display;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
  }

  /*The CSS element selector for everything inside of "body"*/
  body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /*The CSS element selector for every "h1" header*/
  h1 {
    color: navy;
    background-color: hsl(320, 18%, 86%);
    text-align: center;
    border: 3px ;
  }

  /*Class selector - Font size for lists*/
  .ems li {
    font-size: 1.2em;
  }

  /*The CSS element selector for footer*/
  footer {
    opacity: 0.6;
    text-align: center;
    position: static;
    font-family: "Playfair Display";
    width: 150ex;
  }

  /*ID selector for "Form"*/
  #Form {
    background-color: rgb(192, 192, 192);
  }

  /*Class selector - Nav bar ul*/
  .Navigation ul {
    list-style-type: none;
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  
  /*Class selector - Nav bar li*/
  .Navigation li {
    float: left;
  }
  
  /*Universal Selector for any Latin words I chose to include.*/
  *[lang=la]{
      color: blue;
   }

   /*Attribute Selector*/
   a[href="#Meeting-Topic"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#Attendance-List"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#Agenda"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#Topics1"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#Topics2"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#Summary"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#Form"] {
    color: rgb(13, 5, 32);
   }

   /*Attribute Selector*/
   a[href="#W3_Validation"] {
    color: rgb(13, 5, 32);
   }


  /*Class selector - Nav bar li a*/
  .Navigation li a {
    display: block;
    padding: 6pt;
    background-color: rgb(194, 194, 184);
    text-align:justify;
  }

  /*Class selector - Date Location Time*/
  .dlt{
    word-spacing: 30px;
  }

  /*ID Selector to center all images,videos,audio bars*/
  #VideoAudio {
    text-align: center;
  }

  /*ID Selector for the title of the form*/
  #FormHeader {
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100vw;
  }

  /*When button is clicked and held*/
  form :active {
    color: green;
    background: rgb(90, 199, 127);

  }
  
  /*The button at rest*/
  form button {
    background: grey;
  }

  /*When you hover over the Title of webpage*/
  h1:hover {
    background-color: yellow;
  }

  /*My flexbox container class selector*/
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /*The class selector for date*/
  .date {
    flex: 1 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /*The class selector for location*/
  .location {
    flex: 1 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /*The class selector for time*/
  .time {
    flex: 1 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /*The class selector for grid*/
  .grid-mycontainer {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #5f5a5d;
  }
  
  /*Class Container for items inside grid*/
  .grid-item {
    background-color: rgba(238, 229, 229, 0.8);
    border: 1.5px solid #000000cc;
    padding: 19px;
    font-size: 19px;
    text-align: center;
  
  }



 /*This is for the short hand boxes I have created*/
 .Box{
    border: 1px;
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-color:rgb(84, 42, 126);
    border-radius: 0.5em;

    background-color: #9c9c95;
    padding: 10px;
    /*margin: 1px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: 1px;
    width: 170px;
    max-width: 2in;
    min-width: none;
    height: 20px;
    position: relative;
    font-size:1.3rem;
 }

 /* Mobile View */
@media (max-width: 770px)  {
    .col-xs-12 {
      width: 99%;
      float: left;
    }
  }
  
  /* Tablet View */
  @media (min-width: 770px) and (max-width: 980px) {
    .col-md-6 {
      width: 52%;
      float: left;
    }
    
  }
  

  